<html ng-app>
    <head>
        <title>Lista de compras</title>
        <script src="scripts/angular-1.0.1.min.js"></script>
        <script src="app/lista_compras.js"></script>
        <link  href="bootstrap/css/bootstrap.min.css"  rel="stylesheet" type="text/css" />
        <script src="bootstrap/js/bootstrap.min.js" type="text/javascript" ></script>
    </head>
    <body>

    	<!--
    	<input type="text" ng-model="nome" />
    	<p>Olá, {{ nome }}</p>
       !--> 

      <div ng-controller="ListaComprasController">
    <table>
      <thead>
        <tr>
          <th>Produto</th>
          <th>Quantidade</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in itens">
          <td><strong>{{ item.produto }}</strong></td>
          <td>{{ item.quantidade }}</td>
        </tr>
      </tbody>
    </table>

    <form  name="formItem">
      <input type="text" ng-model="item.produto">
      <input type="number" ng-model="item.quantidade">
      <button ng-click="adicionarItem()">adicionar item</button>
    </form>


</div>



    </body>
</html>